@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Roboto+Condensed:ital@1&display=swap');
* {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-decoration: none;
	/* box-sizing: border-box; */
}
body{
	display: flex;
	justify-content: center;
	align-items: center;

	/* background-image: url('images/background.jpg'); */

	background-color: #0cbaba;
	background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
	background-repeat: no-repeat;
	background-attachment: fixed;


	color: white;

	
}
.card {
	display: flex;
	/* background-color: #0cbaba; */
	/* background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%); */
	/* background-color: darkgrey; */
	flex-direction: column;
	justify-content: center;
	padding: 10px;
}
.title {
	font-family: 'Knewave';
	text-align: center;
	font-size: 69px;
}
.subText {
	text-align: center;
	font-size: 40px;
	font-family: 'Bubblegum Sans', cursive;
}
.choice {
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
	padding: 9px 67px;
	gap: 30px;

}
img {
	height: 100px;
	width: auto;
}
.score {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Bubblegum Sans', cursive;
	font-size: 20px;
}

.tHead, .tData {
	display: flex;
	font-size: 40px;
	justify-content: space-around;
}
.tData {
	margin-top: 9px;
}
.tHead{
	margin-top: 40px;
}
.scoreMessage{
	text-align: center;
	font-family: 'Bubblegum Sans', cursive;
	font-size: 30px;
	margin-top: 30px;
}









