@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Roboto+Condensed:ital@1&display=swap');
body{
	display: flex;
	justify-content: center;

	/* background-image: url('images/background.jpg'); */
	/* background-image: url('images/background3.jpg'); */
	/* background-image: url('images/background4.jpg'); */
	background-image: url('images/background5.jpg');
	/* background-image: url('images/background6.jpg'); */

	font-family: 'Bubblegum Sans', cursive;
	color: white;
	text-shadow: 2px 2px 9px #000000;	
	text-align: center;
}
.card {
	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(1.5px);	
	
	padding: 15px 69px;
	border-radius: 20px;
	margin-top: 10vh;
	box-shadow: 3px 11px 15px black;
}
.title {
	font-family: 'Knewave';
	text-align: center;
	font-size: 69px;
}
.subText {
	text-align: center;
	font-size: 40px;
}
.choice {
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
	padding: 9px 67px;
	gap: 30px;

}
.rock:hover, .paper:hover, .scissor:hover {
	transform: scale(1.1);
	
}
.rock:active, .paper:active, .scissor:active {
	transform: scale(1);
	
}
img {
	height: 100px;
	width: auto;
}
.score {
	display: flex;
	flex-direction: column;
}

.tHead, .tData {
	display: flex;
	font-size: 40px;
	justify-content: space-around;
}
.tData {
	margin-top: 9px;
}
.tHead{
	margin-top: 40px;
}
.scoreMessage{
	font-size: 30px;
	margin: 25px;
}









